<a href="https://colab.research.google.com/github/AMIT110409/Evalution-metrics-extern-/blob/main/Evalution_metrics_extern.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## model evalution 

## Regression :-

## MSE=Mean Squared Error 

## RMSE = Root mean Square Error

## predicted, Actual ...

## MAE=Mean Absolute Error

## MAE=(1/n)Summation|y-y^|

## R-Squared

## Classification Problems:

## Confusion matrix 

## Actual Values 

## Predicted 

## TP , FP    (True positive , False Positive )

## FN , TN 

## TP model correctly predict Positive Class 

## TN - Model Correctly predict Negative Class 


## FP - Type-1 Error - The outcome where the model predicts positive when its
# actually negative 

## FN - Type-2 -Error- An outcome where the model incorrect predicts Negative Class When it is actually Positive . 

## Accuracy =  it depict total no of  predicts that were correct 

   ## Accuracy=TP+TN/(TP+FP+FN+TN)

   ## Precision - it tells how many of positive cases actually turned out to be 
   #postive

   ## Precision = TP/(TP+FP)

   ## Recall/Sensitivity/TPR-True Positive rate 

 ## IT tell out of total Actual Positive cases how many were correctly classifies 
     
      ## TP/(TP+FN)

 ## Specificity- it tells out of toal actual Negative  cases how many are correctly 
 #classifies

   ##    TN/TN+FP


 ## F1 Score = it is harmonic Mean of Precision and Recall 

 ## F1=2*(Precision*Recall)/(Precision+Recall)        


## AUC ROC Curve 

## AUC - Area Under Curve 

## ROC - REciever Operating Characteristics 

## AUC - Measure of Separability 

## ROC - TPR and FPR 

## FPR=1-Specificity 

## Ensembling techniques :-

## Bagging,Boosting

## Bagging-BOotstrap Aggregating 


## Boosting:-  

##weak learner - they are the indivaual model to predict target outcome with
# average accuracy 

## Strong learner :- Combination of weak learner to build strong learner . 

## SQUARE AND DOT  DATAPOINT  wrongily classified  data will convert into over weight . 

## BOOsting Algorithms,Adaboost Algorithm

##Gradient Boosting :- it is a Sequential Ensemble Learning technique where the performance of the model improves over iteration . 

#3 here each model tries to correct the error left over in previous model
# by optimizing loss function . 

##loss function, weak learner ,Additive Model  

## XG Boost :-   advance version of gradient Boosting , boost the performance of model 

## Fast,Cache optimization(manage and utilise the management )  
## it work parllely (multiple model are parlley  get ready .)



##

In [ ]:
import seaborn as sns 
import matplotlib.pyplot as plt 
import numpy as np
import pandas as pd

In [ ]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [ ]:
df=sns.load_dataset('tips')

In [ ]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [ ]:
## encoding 

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [ ]:
df['sex']=le.fit_transform(df['sex'])

df['smoker']=le.fit_transform(df['smoker'])

df['day']=le.fit_transform(df['day'])

df['time']=le.fit_transform(df['time'])

In [ ]:
df.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3
3       23.68  3.31    1       0    2     0     2
4       24.59  3.61    0       0    2     0     4

In [ ]:
## splitting the dataset in to X , Y 

x=df.drop('tip',axis=1)
y=df['tip']

In [ ]:
y

0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
       ...
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

In [ ]:
## Applying Scaling on X 

from sklearn.preprocessing import MinMaxScaler

In [ ]:
scale= MinMaxScaler()

In [ ]:
x=scale.fit_transform(x)

In [ ]:
x

array([[0.29157939, 0.        , 0.        , 0.66666667, 0.        ,
        0.2       ],
       [0.1522832 , 1.        , 0.        , 0.66666667, 0.        ,
        0.4       ],
       [0.3757855 , 1.        , 0.        , 0.66666667, 0.        ,
        0.4       ],
       ...,
       [0.41055718, 1.        , 1.        , 0.33333333, 0.        ,
        0.2       ],
       [0.30896523, 1.        , 0.        , 0.33333333, 0.        ,
        0.2       ],
       [0.32907415, 0.        , 0.        , 1.        , 0.        ,
        0.2       ]])

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [ ]:
## Model building 

from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [ ]:
lr.fit(x_train,y_train)

LinearRegression()

In [ ]:
y_pred=lr.predict(x_test)

In [ ]:
## Evaluation matrix 

from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error

In [ ]:
error=y_test-y_pred

In [ ]:
se=error*error

In [ ]:
se

64     0.072042
63     0.482472
55     0.582094
111    0.227124
225    0.057020
         ...
90     0.447442
101    0.350356
75     0.613951
4      0.001348
109    3.203105
Name: tip, Length: 74, dtype: float64

In [ ]:
mse=np.mean(se)

In [ ]:
mse

0.916657185964541

In [ ]:
mse2=mean_squared_error(y_test,y_pred)

In [ ]:
mse2

0.916657185964541

In [ ]:
mae=mean_absolute_error(y_test,y_pred)

In [ ]:
mae

0.7166503728723609

In [ ]:
rmse=np.sqrt(mse2)

In [ ]:
rmse

0.9574221566083276

In [ ]:
r2=r2_score(y_test,y_pred)

In [ ]:
r2

0.46879976048630567

In [ ]:
##classification Metrics 

data= sns.load_dataset('titanic')

In [ ]:
data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
data.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
data['age'].fillna(data['age'].median(),inplace=True)
data['deck'].fillna(data['deck'].mode(),inplace=True)

In [ ]:
data.dropna(how='any',inplace=True)  ## drop these minor null value we use it

In [ ]:
data.shape

(202, 15)

In [ ]:
data.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64

In [ ]:
data['sex']=le.fit_transform(data['sex'])
##data['embarked']=le.fit_transform(data['embarked'])
data['class']=le.fit_transform(data['class'])
data['who']=le.fit_transform(data['who'])
data['adult_male']=le.fit_transform(data['adult_male'])
data['deck']=le.fit_transform(data['deck'])
data['alive']=le.fit_transform(data['alive'])
data['alone']=le.fit_transform(data['alone'])

In [ ]:
data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,1,22.0,1,0,7.2500,2,2,1,1,2,Southampton,0,0
1,1,1,0,38.0,1,0,71.2833,0,0,2,0,2,Cherbourg,1,0
3,1,1,0,35.0,1,0,53.1000,2,0,2,0,2,Southampton,1,0
6,0,1,1,54.0,0,0,51.8625,2,0,1,1,4,Southampton,0,1
10,1,3,0,4.0,1,1,16.7000,2,2,0,0,6,Southampton,1,0

In [ ]:
data.drop('embark_town',axis=1)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,alive,alone
0,0,3,1,22.0,1,0,7.2500,2,2,1,1,2,0,0
1,1,1,0,38.0,1,0,71.2833,0,0,2,0,2,1,0
3,1,1,0,35.0,1,0,53.1000,2,0,2,0,2,1,0
6,0,1,1,54.0,0,0,51.8625,2,0,1,1,4,0,1
10,1,3,0,4.0,1,1,16.7000,2,2,0,0,6,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,1,1,0,47.0,1,1,52.5542,2,0,2,0,3,1,0
872,0,1,1,33.0,0,0,5.0000,2,0,1,1,1,0,1
879,1,1,0,56.0,0,1,83.1583,0,0,2,0,2,1,0
887,1,1,0,19.0,0,0,30.0000,2,0,2,0,1,1,1
889,1,1,1,26.0,0,0,30.0000,0,0,1,1,2,1,1

In [ ]:
x=data.drop('survived',axis=1)
y=data['survived']

In [ ]:
y

0      0
1      1
3      1
6      0
10     1
      ..
871    1
872    0
879    1
887    1
889    1
Name: survived, Length: 202, dtype: int64